.custom-text-class{
  text-decoration: none !important;
}

.sidebar{
  height: 100%;
  border-right: 2px solid rgb(222, 226, 230);
  position: fixed;
  overflow-y: auto;
  padding: 0px 3px;
}

.sidebar .sidebar-feature .sidebar-item{
 padding: 15px 5px;
 font-size: 18px;
}

.sidebar .sidebar-feature .sidebar-item .item-text{
 
  text-decoration: none
}


@media (min-width: 1281px) {
  
  .custom-row{
    max-width: 1918px;
  }
  
}